<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="USTAutoSuite">
 
  <test thread-count="5" name="HRModTest">
  	<classes>
      <class name="com.stackroute.demoproject.BasicAuto03Test" />
	</classes>
  </test> <!-- Test -->


</suite> <!-- Suite -->
